
body {
    /* https://coolors.co/generate and click export -> scss to get the colors to copy and paste below*/
   /* --color1: hsla(349, 69%, 76%, 1);
    --color2: rgb(235, 246, 255);
    --color3: hsla(200, 61%, 56%, 1);
    --color4: hsla(187, 41%, 94%, 1);
    --color5: hsla(170, 28%, 95%, 1); */

    /* --color1: hsla(45, 86%, 83%, 1);
    --color2: hsla(135, 65%, 98%, 1);
    --color3: hsla(315, 37%, 86%, 1);
    --color4: hsla(45, 73%, 98%, 1);
    --color5: hsla(224, 40%, 79%, 1); */
    
    --header-height: 80px;
    --shadow: 0px 10px 20px -12px rgba(0,0,0,0.45);
    --gutter: 30px;
    --footer-height: 25px;
    
    font-family: 'Titillium Web', sans-serif;
    background-color: var(--color2);
}

main {
	display: grid;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-bottom: calc(var(--footer-height));
}
.main-menu{
    background-color: rgb(6, 73, 100);
}
h1 {
    display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: solid 1px rgb(0, 0, 0);
    border-radius: 15px;
    padding: 20px;
    text-align: right;
    margin: 10px;
    background-color: rgb(1, 36, 110);
    color: white;
}

  a{
    display: grid;
	flex-direction: row;
	justify-content: center;
	align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: red;
    cursor: pointer;
    border: solid 1px rgb(0, 0, 0);
    border-radius: 15px;
    padding: 20px;
    text-align: right;
    margin: 10px;
    background-color: rgb(255, 255, 255);
  }
a:visited {
    color: #034e31;
}
a:hover {
    color: #300cfc;
    transition:ease-in-out .5s;
}

.vinyls {
	justify-content: center;
    border: solid 1px rgb(0, 0, 0);
    border-radius: 15px;
    padding: 20px;
    text-align: right;
    margin: 10px;
    background-color:rgb(253, 230, 222);

}
.vinyls img {
    width: 320px;
}

ul{
    display: flex;
    flex-wrap: wrap;
}

table{
    width: 95%;
    height: 25px;
    text-align: center;
    border:solid black 2px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
tr{
    background-color: rgb(105, 48, 48);
    color: white;
}
tr:nth-child(even){
  background-color: rgb(0, 63, 105);
  color:white
}
th{
    background-color: rgb(228, 221, 129);
    color:rgb(0, 0, 0);
    font-size: medium;
}
#wholetotal{
    background-color: rgb(0, 0, 0);
    color: rgb(235, 241, 204);
    align-items: left;
    
}
.Carti{
    background-color: rgb(184, 176, 176);
}
.musica{
    background-color: rgb(216, 238, 236);
}
#checkout{
    cursor: pointer;
}